<div class="container-fluid">
  <div class="row">
    <div class="col custom-bg-dark">
      <h2>My Order History</h2>
    </div>
  </div>
  <hr class="mx-2" style="height: 1px;" style="background-color:white">
  <div class="row">
    <div class="col custom-bg-dark pt-3 px-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Ticker</th>
            <th scope="col">Shares</th>
            <th scope="col">Net Amount</th>
            <th scope="col">Purchase Type</th>
            <th scope="col">Status</th>
            <th scope="col">Transaction Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let order of orders;" class='clickable-row'>
            <td>{{order[0]}}</td>
            <td style="font-weight: 600;">{{order[2]}}</td>
            <td>{{order[3]}}</td> 
            <td>{{order[4]}}</td>
            <td *ngIf="order[5]=='BUY'" class="green-txt-dark">{{order[5]}}</td>
            <td *ngIf="order[5]=='SELL'" class="red-txt-dark">{{order[5]}}</td>
            <td *ngIf="order[6]=='IN PROGRESS'" style="font-weight: 600;">{{order[6]}}</td>
            <td *ngIf="order[6]=='COMPLETED'" class="green-txt-dark">{{order[6]}}</td>
            <td *ngIf="order[6]=='FAILED'" class="red-txt-dark">{{order[6]}}</td>
            <td>{{order[7]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>